@import url('https://fonts.googleapis.com/css?family=Poppins : 200 , 300 , 400 , 500 , 600 , 700 , 800 , 900 & display = swap ');
*
{
  margin :0 ;
  padding :0 ;
  box-sizing : border - box ;
  font-family : ' Poppins ',sans-serif ;
}
body
{
 background : lightblue ;
 display : flex ;
justify-content : center ;
align-items : center ;
min-height : 100vh ;
}


.container
{
 position: relative;
 width: 100%;
 max-width:1000px;
 min-height :1000px;
 background:#fff;
 display :grid;
grid-template-columns: 1fr 2fr;
box-shadow : 0 35px 55px rgba ( 0,0,0,0.1 ) ;
}
.container .left_Side
{
 position : relative ;
 background : #003147 ;
 padding : 40px ;
}

.profileText{
 position:relative ;
 display:flex ;
 flex-direction: column ;
 align-items: center ;
 padding-bottom : 10px ;
 border-bottom:2px solid rgba(245, 241, 241, 0.2);
}
.profileText .imgBx{
 position : relative ;
 width : 200px ;
 height : 200px ;
border-radius: 50%;
 overflow : hidden;
}
.profileText .imgBx img{
 position : absolute ;
 top : 0 ;
 left : 0 ;
 width: 100%;
 height:100%;
 object-fit: cover;
}
.profileText h2{
  color:rgb(100, 166, 225);
  font-size: 0.7cm;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1cm;
}
.profileText h2 span{
  font-size: 0.8cm;
  font-weight: 300;
}
.contactInfo{
padding-top: 2px;
}
.title{
 color : rgb(225, 101, 101) ;
 text-transform : uppercase ;
 font-weight : 600 ;
 Letter-spacing : 1px ;
 margin-bottom : 10px ;
 margin-top: 30px;
}
.contactInfo ul
{
position: relative;
}
.contactInfo ul li
{

 position : relative ;
  List-style : none ;
 margin: 8px 0;
  cursor: pointer;
  color: cornsilk;

}
.contactInfo ul li .icon
{
position: relative;
 display : inline-block ;
 width : 25px ;
 font-size : 15px ;
 
 color : rgb(16, 193, 193) ;
}
.contactInfo ul li span{
  margin-bottom:5px;
}
.Education li
{
  margin-top: 15px;
 margin-bottom : 15px ;
}
.Education h5{
  font-size: large;
 color: rgb(71, 139, 216) ;
 font-weight : 500 ;
}
.Education h4{
  
  color: rgb(140, 193, 235);
  font-weight: 500;
}
.Education span{
  color: azure;
  font-weight: 500
}
.Education.title{
  padding-top: 3cm;
}
.Language span
{
 position : relative ;
 margin: 4px;
 color: aquamarine;
 
 
}
.Language .percent1
{
 position : relative ;
 width : 70% ;
 height : 6px ;
 background : cornflowerblue ;
 display: block;
}
.Language .percent2
{
 position : relative ;
 width : 60% ;
 height : 6px ;
 background : cornflowerblue ;
 display: block;
}
.Language .percent3
{
 position : relative ;
 width : 30% ;
 height : 6px ;
 background : cornflowerblue ;
 display: block;
}
.container .right_Side
{
 position : relative ;
 background :rgb(235, 229, 229);
 padding:40px;
}
.about{
  margin-bottom:50px;
}
.about:last-child{
  margin-bottom: 0;
}
.title2{
  color:#37ace1;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  
}
p
{
  font-size: large;
}
.ach li{
  margin-top: 15px;
 margin-bottom : 15px ;
 
}

.box{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
.ts .box{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}
.ts .box h4{
  text-transform: uppercase;
  color: cornflowerblue;
  font-weight: 500;
}
.ts .box .percent{
  position: relative;
  width: 100%;
  height:10px;
  background: darkgrey;
}
.ts .box .percent div
{
  position: absolute;
  top:0;
  left:0;
  height:100%;
  background: #1f9dd7;
}
.interest li{
  margin-top: 15px;
 margin-bottom : 15px ;
}
.project h3{
  margin: 2px;
  color: rgb(135, 212, 238);
}
.project li{
  margin: 3px;
}